# Ignore virtual environment
.venv/

# Ignore environment variable files (e.g., for storing API keys, etc.)
bot.env

# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore log files
*.log

# Ignore IDE files
.vscode/
.idea/

